@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600;700&family=Public+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Bodoni', serif;
}

body {
  @apply bg-background text-text-color;
}
